<div class="posts-banner">
    <div class="post-page-struct">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-md-2">
            <!-- <div class="sidebar-cont">
              <div class="sidebar-prof">
                <div class="sidebar-img"></div>
                <div class="profile-name">
                  <h4>Shahid Mansuri</h4>
                  <p>@cosec90</p>
                </div>
              </div>
              <div class="profile-contents">
                <ul class="content-list" type="none">
                  <li class="content-li">New Stories</li>
                  <li class="content-li">Reading</li>
                  <li class="content-li">Profile</li>
                </ul>
              </div>
            </div> -->
          </div>
          <div class="col-md-8">
            <div class="single-post-outer">
                <div class="single-post-inner">
                    <div class="single-post-img">
                      <img src="images/about-us.jpg" alt="">
                    </div>
                    <div class="single-post-title">
                      <h2>This is going tobe the title of the post</h2>
                    </div>
                    <div class="single-post-content">
                      <div class="single-post-content-inner">
                          asdnjlk
                      </div>  
                    </div>
                </div>
                <div class="author-card">
                  <div class="author-card-left">
                      <div class="author-img">
                          <img src="" alt="">
                      </div>
                  </div>
                  <div class="author-card-right">
                      <div class="author-card-name">
                          <p>@cosec37</p>
                      </div>
                      <button class="btn btn-primary">Follow</button>
                  </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-2">
            <!-- <div class="top-stories-cont">
              <div class="top-stories-title">
                <h4># Top Stories</h4>
              </div>
              <div class="top-stories-items">
                <div class="top-stories-inner">
                  <h6>Story Tittle is one of the best things thatone can ad to a website</h6>
                </div>
                <div class="top-stories-inner">
                  <h6>Story Tittle is one of the best things thatone can ad to a website</h6>
                </div>
                <div class="top-stories-inner">
                  <h6>Story Tittle is one of the best things thatone can ad to a website</h6>
                </div>
              </div>
            </div>   -->
          </div>
        </div>
      </div>
    </div>
  </div>
