<div class="profile-banner">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12">
            <div class="profile-page-struct">
                <div class="profile-card">
                    <div class="profile-card-left">
                        <div class="profile-card-img-cont">
                            <img src="../assets/profile.jpg" alt="">
                        </div>
                    </div>
                    <div class="profile-card-right">
                        <div class="profile-card-username">
                            <h1>Username of the user</h1>
                        </div>
                        <div class="profile-card-btn">
                            <button class="btn profile-btn">Edit Profile</button>
                        </div>
                        <div class="profile-card-bio">
                            <h5>This is the bio</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-card-info">
                <p>0 Accounts Followed</p>
                <p>0 Posts Published</p>
            </div>
        </div>
      </div>
    </div>  
</div>
