<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current) </span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-custom nav-link" id="openModel" (click)= "openModel()">Signup</button>
        </li>
      </ul>
    </div>
  </nav>
   <div class="login-model" [ngClass] = "[display]">
    <div class="login-cont">
      <div class="close-cont" id="closeModel" (click)= "closeModel()" >
          Close
      </div>
      <div class="login-title">
        <h2 class="text-center">Welcome to Blog!</h2>
      </div>
      <div class="login-signup-cont">
        <div class="func-btn-cont">
          <div class="func-login" id="login-start" (click) = "openLogin()">
            <h5 class="text-center">
              Login
            </h5>
          </div>
          <div class="signup-func" id="signup-start" (click) = "openSignup()">
            <h5 class="text-center">
              Signup
            </h5>
          </div>
        </div>
        <div class="login-form">
          <div class="login-form-holder" [ngClass] = "[loginOpen]">
            <form [formGroup] = "loginForm">
              <div class="form-group">
                <label for="email">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" formControlName = "login_username">
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" formControlName = "login_password">
              </div>
              <button type="submit" class="btn btn-custom" (click) = "login()">Login</button>
            </form>
          </div>
          <div class="signup-form-holder" [ngClass] = "[signupOpen]">  
            <form [formGroup]="signupForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Enter email" formControlName="signup_email">
              </div>
              <div class="form-group">
                <label for="email">Username</label>
                <input type="email" class="form-control" placeholder="Enter username" formControlName="signup_username">
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="signup_password">
              </div>
              <button type="submit" class="btn btn-custom" (click) = "signUp()">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
